*{
  border: none;
  padding: 0 auto;
  margin:0 auto ;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body{
  background-color: var(--bg-color);
  margin: 0 auto;
}
:root{
  --bg-color:hsl(0,0%,95%);
  --main-color:hsl(240, 100%, 60%);
  --text-color:black;
}
header{
  display: flex;
  justify-content:space-between;
  align-items: center;
  gap: 5px;
  padding:10px;
  width: 100%;
  height: 120px;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: var(--bg-color);
  cursor: pointer;
  z-index:100;
}
ul li a{
  color: black;
  font-size: 1.2rem;
}
a:hover {
  color: blue;
}
.logoimg img , .footerimg img{
  height: 30px;
  width:30px;
  border-radius: 50%;
}
.logoimg{
  display: flex;
  align-items:center;
  gap:1px;
}
.headermenu{
  display:flex;
  align-items: center;
  gap: 10px;
}
.headercontact{
  display:flex;
  align-items: center;
  padding-left:5%;
  gap:10px;
}
.caret{
  display: none;
}
.caret a{
  color: var(--text-color);
  display: block;
  align-items: center;
  text-align: center;
}
.caret a:hover {
  color: var(--main-color);
}
.caret{
  display: none;
}
#feature:target {
  display: block;
}
@media (max-width: 600px) {
  .Ecomheader{
  flex-direction: column;
  text-align: center;
  }
}
@media screen and (min-width:400px) {
    .Ecomheader {
    height: 120px;
  }
  .Homepage{
    margin-top: 120px;
  }
  .caret{
    padding-top:130px;
  }
}
@media screen and (min-width:750px) {
    .Ecomheader {
    height: 60px;
  }
  .Homepage{
    margin-top: 60px;
  }
  .caret{
    padding-top: 70px;
  }
}
.Homepage{
  padding:10% 0 10% 5%;
  overflow:hidden;
  background-color:var(--bg-color);
}
.Homepage h1{
  font-size: 2.5rem;
  font-weight:bolder;
  padding-top:5%;
  padding-bottom: 5%;
}
.Homepage span{
 font-weight:lighter;
}

.request{
  background-color: var(--main-color);
  color: white;
  border-radius: 10px ;
  padding: 10px 20px;
  border: none;
  margin-top: 5%;
  font-size: 1rem;
}
.watch{
  color: black;
  border-radius: 10px;
  padding: 8px 20px;
  border:1px solid black;
  margin-bottom:8%;
  font-size: 1rem;
}

.trust{
  align-items: center;
  text-align: center;
}
.walmart {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: hsl(210, 100%, 40%);
}
.orvis {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color:hsl(0, 0%, 30%);
}
.target {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  color:hsl(350, 100%, 50%);
}
.costco {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  color:hsl(210, 100%, 20%);
}
.bestbuy {
  font-family: 'Lora', serif;
  font-size: 20px;
  color:hsl(210, 100%, 20%);
}
.macy {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  padding-right: 5%;
  color:hsl(350, 70%, 40%);
}
.shopnames{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 5px;
}
.features{
  padding-top: 5%;
  background-color:var(--bg-color);
}
.containerf{
  margin: 0 auto;
  min-width: 100vw;
}
.containerf h1{
  font-family: monospace;
  font-size: 32px;
  align-items: center;
  text-align: center;
}
.containerf p{
  padding-bottom: 5%;
  align-items: center;
  text-align: center;
}

.features1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
  overflow: hidden;
}
.emoji{
  display: inline-block;
  font-weight: bolder;
  align-items: center;
  border: hidden;
  padding: 10px;
  background-color: white;
  border-radius: 50%;
  margin-bottom: 20px;
}
.sizeh1 span{
  font-size: 26px;
}
.set{
  background:white;
  box-shadow: 0 5px 15px black;
  padding:20px;
  margin-bottom: 5%;
  text-align: center;
  width: 100%;
  border-radius: 10px;
}
@media (min-width:700px){
  .set{
    display:inline-block;
    flex-direction:row;
    height: 40%;
    overflow: hidden;
    width: 32.22%;
  }
}
.orders{
  background-color:var(--bg-color);
  margin:10% 3%;
}
.orders h1{
  margin-top: 10%;
  padding-bottom: 5%;
  font-size: 2rem;
  align-items: center;
  text-align: center;
  font-weight: bold;
}
.orders p{
  font-size: 17px;
  padding-bottom: 5%;
  align-items: center;
  text-align: center;
}
.trackcontainer{
  display:block;
}
.track{
  display: block;
  width: 100%;
}
.learnmore{
  border: hidden;
  width:100%;
  background-color: hsl(0,0%,98%);
  padding: 5% 5px;
  margin-bottom: 5%;
}
.orderscontainer{
  display: block;
  background-color: white;
}
.firsttable{
  text-align: center;
  align-items: center;
  width: 100%;
}
tr{
  color: hsl(0, 0%, 30%);
  padding:10px;
}
@media (min-width:700px) {
  .trackcontainer{
    display: flex;
    justify-content: space-between;
  }
  .track,
  .firsttable{
    display: flex;
    justify-content: center;
    width: 40%;
    flex-direction: row;
    gap: 15px;
    flex: 1;
  }
}

.functions{
  align-items: center;
  text-align: center;
  padding: 3%;
  margin-top: 10%;
  background-color: var(--bg-color);
}
.functions h1{
  margin-bottom:5%;
  font-size: 2rem;
  font-weight: bold;
}
.functions p{
  font-size: 17px;
  margin-bottom: 5%;
}
.functionscontainer{
  display: block;
}
.channel{
  padding: 10px;
  background-color:white;
  margin-bottom:10%;
  border-radius: 10px;
  display: block;
  width: 100%;
}
.workflow{
  padding-top: 5%;
  border:hidden;
  margin-bottom: 5%;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
}
.functionbox1{
  border: hidden;
  background-color:var(--bg-color);
  padding: 5px;
  border-radius:10px;
}
.demorequest a{
  border: hidden;
  background-color: var(--main-color);
  color: var(--bg-color);
  padding: 10px 20px;
  border-radius: 10px;
}
@media (min-width:750px){
  .functionscontainer{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    flex-direction: row;
  }
  .channel{
    width:32%;
    flex: 1;
    overflow: hidden;
  }
}
.platform{
  background-color: hsl(0,0%,90%);
  padding: 3%;
  margin-top: 10%;
  margin-bottom: 10%;
}
.platformcontainer{
  display:block;
}
.platformbox1{
  width: 100%;
  margin-bottom: 15%;
  padding-bottom: 5%;
}
.platformbox1 h1{
  padding-top: 5%;
  font-size:2.5rem;
  font-weight: bold;
  margin-bottom: 5%;
}
.platformbox1 p{
  font-size: 18px;
  margin-bottom: 15%;
}
.platformbox1 a{
  border: hidden;
  background-color:var(--main-color);
  color: var(--bg-color);
  padding: 5px 10px;
  border-radius: 10px;
}
.platformbox2{
  background-color: hsl(0,0%,90%);
  width: 100%;
} 
.listitems {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 10%;
  list-style: none;
}
.listitems li {
  box-sizing: border-box;
  border: hidden;
  margin-bottom: 15px;
  border-radius: 10px;
  background-color: white;
  padding: 15px 20px;
  font-size:1rem;
  align-items:center;
  text-align: center;
}
.more{
  background-color: black;
  color: white;
  padding: 15px 20px;
  border-radius: 10px;
  align-content: center;
  text-align: center;
}
@media (min-width:750px){
  .platformcontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }
}
.pricing{
  background-color: var(--bg-color);
  padding-top: 5%;
  margin: 2%;
}
.pricing h1{
  align-items: center;
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
  padding-bottom: 5%;
}
.pricingp {
  align-items: center;
  text-align: center;
  font-size: 18px;
  padding-bottom: 5%;
  margin-bottom: 5%;
}
.year{
  background-color: hsl(0,0%,90%);
  border: 1px solid hsl(0, 0%, 60%);
  padding: 15px 30px;
  border-radius: 15px;
  align-items: center;
  text-align: center;
}
.year:hover{
  background-color: var(--main-color);
}
.pricingcontainer{
  background-color: white;
  margin-top: 5%;
  display: block;
  width: 100%;
}
.price{
  padding: 5% 2%;
  border:1px solid hsl(0, 0%, 80%);
  border-radius: 15px;
  background-color: white;
  margin-bottom: 7%;
  margin-top: 10%;
  display: block;
  width: 100%;
}
.price h3{
  margin-top: 5%;
  padding-bottom: 5%;
}
.price p{
  padding-bottom: 5%;
  margin-top: 5%;
}
.price span{
  font-size: 10px;
  font-weight: lighter;
}
.price a{
  background-color: hsl(0, 0%, 80%);
  padding: 10px 20px;
  font-size: 20px;
  width: 70%;
  border-radius: 20px;
}
.getstarted{
  background-color: var(--main-color) !important;
  color: white;
}
@media (min-width:750px){
   .pricingcontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
   }
}
.blog{
  background-color:var(--bg-color);
  margin: 5% 5% 10% 2%;
  padding-bottom: 5%;
}
.blog h1{
  padding-top: 10%;
  padding-bottom: 5%;
  font-size: 1.8rem;
  font-weight: bold;
  align-items: center;
  text-align:center;
}
.blog p{
  font-size: 18px;
  align-items: center;
  text-align: center;
  margin-bottom:10%;
}
.blogcontainer h3{
  font-size: 1rem;
  padding-bottom: 5px;
  margin-bottom: 3%;
}
.blogp{
  font-size: 10px;
  align-items: left;
  text-align: left;
}
.blogcontainer h4{
  padding-top:5%;
  padding-bottom:5%;
  border-top: 1px solid hsl(0, 0%, 80%);
}
.blogcontainer span{
  float: right;
}
.blog2{
  background-color: blueviolet;
  color:white;
  padding: 5% 5% 10% 5%;
  
}
.blog2 h1{
  font-size: 2rem;
  padding-bottom: 5%;
}
.blog2container{
  padding-bottom: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  justify-content: space-between;
}
.blog2 a{
  align-items: center;
  text-align: center;
  border-radius: 10px;
  background-color: white;
  color:black;
  padding:15px 20px;
}
.footercontainer{
  background-color:var(--bg-color);
  padding-top: 5%;
  margin-bottom: 1%;
  display: block;
  border-bottom:1px solid hsl(0, 0%, 60%);
}
.footerimg{
  display: flex;
  justify-content: left;
  align-items: left;
  float: left;
}
.footerh1{
  padding-bottom: 5%;
}
.footerbox1{
  display: block;
  margin: 1% 5% 5%;
  padding-top: 1%;
  padding-bottom: 5%;
}
.footerbox1 p{
  font-size: 1.5rem;
}
.social-icons{
  font-size: 2rem;
  margin-top:5%;
}
.social-icons i {
  padding-right: 20px;
  color:orange;
}
.footertablecontainer{
  display: block;
  align-items: left;
  text-align: center;
  padding-bottom:5%;
  margin-bottom: 5%;
}
.footertable{
  width: 100%;
}
.copyright{
  display: flex;
}

@media (min-width:750px){
  .footercontainer ,
  .copyrightcontainer{
    display: flex;
    justify-content:space-between;
    flex-direction:row;
  }
}
.copyrightcontainer{
  margin-bottom:5%;
}